[submodule "modules/Catch2"]
	path = modules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "modules/smallstring"]
	path = modules/smallstring
	url = https://github.com/clapdb/smallstring.git
[submodule "modules/arena"]
	path = modules/arena
	url = https://github.com/clapdb/Arena.git
[submodule "modules/containa"]
	path = modules/containa
	url = https://github.com/clapdb/Containa.git
